<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
</head>
<body>
	<div layout:fragment="page_content">

		<h2>Liste des scrutins</h2>

		<span th:if="${#lists.isEmpty(items)}">Aucun scrutin</span>


		<div th:each="scrutin: ${items}" class="card" style="max-width: 700px">



			<div class="card-header">
			<div th:replace="fragments/commons.html :: etatScrutinBadge"></div>
				<span class="h4" th:text="${scrutin.nature}"></span>
				
			</div>
			<div class="card-body">
				<div>
					Ouverture du <span
						th:text="${#dates.format(scrutin.dateOuverture, 'dd/MM/yyyy &agrave; HH:mm')}"></span>
					au <span
						th:text="${#dates.format(scrutin.dateFermeture, 'dd/MM/yyyy &agrave; HH:mm')}"></span>
				</div>
				<div>
					<span th:text="${scrutin.nbQuestions}"></span> questions
				</div>
				<div>
					Hash (SHA256) : <a
						th:href="@{/admin/scrutins/scrutin-hash(scrid=${scrutin.id})}"
						th:text="${scrutin.hash} ? ${scrutin.hash} : 'non enregistré'">
					</a>
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex">
					<div>
						<form method="get" th:action="@{/admin/scrutins/scrutin}">
							<input type="hidden" name="scrid" th:value="${scrutin.id}">
							<button type="submit" class="btn btn-primary">Détails</button>
						</form>
					</div>
					<div>
						<form method="get" th:action="@{/admin/scrutins/participation}">
							<input type="hidden" name="scrid" th:value="${scrutin.id}">
							<button type="submit" class="btn btn-secondary ml-2">Voir la
								participation</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>