<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
</head>
<body>
	<div layout:fragment="page_content">

		<h2>Liste des scrutins</h2>
		
		<span th:if="${#lists.isEmpty(items)}">Aucun scrutin</span>
		
		<div th:each="scrutin: ${items}" class="card" style="max-width: 700px">
			<div class="card-header">
				<span class="h4" th:text="${scrutin.nature}"></span>
			</div>
			<div class="card-body">
				<div>
					<span th:text="${scrutin.nbQuestions}"></span> questions
				</div>
				<div>
					Hash: <a
						th:href="@{/admin/scrutins/scrutin-hash(scrid=${scrutin.id})}"
						th:text="${scrutin.hash} ? ${scrutin.hash} : 'non enregistré'">
					</a>
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex">
					<div>
						<form method="get" th:action="@{/admin/scrutins/resultats}">
							<input type="hidden" name="scrid" th:value="${scrutin.id}">
							<button type="submit" class="btn btn-primary">Voir les
								résultats</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>