<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
</head>
<body>
	<div layout:fragment="page_content">
		<h1>Scrutin</h1>
		<h4 th:text="${item.nature}"></h4>

		<form th:action="@{/vote/dovote}" th:object="${scrutinQuestionsDto}"
			method="post">
			<!--http://forum.thymeleaf.org/Fields-object-functions-Spring-td3302513.html#a3304174 -->
			<!-- 			 <ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"
					class="text-danger">Input is incorrect</li>
			</ul> 
 -->
			<input type="hidden" th:name="|scrutinId|"
				th:value="${scrutinQuestionsDto.getScrutinId()}" />


			<div th:each="q, itemStat : ${scrutinQuestionsDto.questions}"
				class="p-2">

				<div class="card" style="">
					<input type="hidden" th:value="${scrutinId}" name="scrid" />
					<div class="card-body">
						<h5 class="card-title">
							Question <span th:text="${q.numquestion}"></span>
							<!-- ligne <span th:text="${rowStat}"></span> -->
						</h5>
						<p class="card-text">
							<span th:text="${q.qtext}"></span>
						</p>
						<input type="hidden" th:name="|questions[${itemStat.index}].id|"
							th:value="${q.getId()}" />


						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								th:id="'0-'+|questions[${itemStat.index}].id|"
								th:field="${scrutinQuestionsDto.questions[__${itemStat.index}__].response}"
								th:name="|questions[${itemStat.index}].response|" th:value="a">
							<label class="form-check-label"
								th:for="'0-'+|questions[${itemStat.index}].id|">Abstention</label>

						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								th:id="'1-'+|questions[${itemStat.index}].id|"
								th:field="${scrutinQuestionsDto.questions[__${itemStat.index}__].response}"
								th:name="|questions[${itemStat.index}].response|"
								id="inlineRadio2" th:value="o"> <label
								class="form-check-label"
								th:for="'1-'+|questions[${itemStat.index}].id|">Oui</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								th:id="'2-'+|questions[${itemStat.index}].id|"
								th:field="${scrutinQuestionsDto.questions[__${itemStat.index}__].response}"
								th:name="|questions[${itemStat.index}].response|"
								id="inlineRadio3" th:value="n"> <label
								class="form-check-label"
								th:for="'2-'+|questions[${itemStat.index}].id|">Non </label>
						</div>
						<div
							th:if="${#fields.hasErrors('questions[__${itemStat.index}__].response')}"
							th:text="${#fields.errors('questions[__${itemStat.index}__].response')[0]}"
							class="text-danger">Error message</div>

					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Voter</button>

		</form>
	</div>
</body>
</html>