<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Vote!</title>
<th:block th:include="fragments/genericHead"></th:block>
</head>
<body>
	<div class="container">
		<div th:insert="fragments/entete.html"></div>

		<h1 class="mt-5">Scrutation</h1>


		<div class="card">
			<div class="card-header">
				<span class="h4" th:text="${scrutin.nature}"></span>
			</div>
			<div class="card-body">
				<div>
					<span th:text="${scrutin.nbQuestions}"></span> questions
				</div>
				<div>
					ouverture <span
						th:text="${#dates.format(scrutin.dateOuverture, 'dd-MM-yyyy')}"></span>,
					fermeture <span
						th:text="${#dates.format(scrutin.dateFermeture, 'dd-MM-yyyy')}"></span>

				</div>
				
			</div>
		</div>

		<h1 class="mt-5">Résultats</h1>
		...

	</div>
	<div th:insert="fragments/genericJs.html"></div>
	<script src="js/form-validation.js"></script>
</body>
</html>