<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
</head>
<body>
	<div layout:fragment="page_content">
		<h1 class="mt-5">Scrutation</h1>
		<div class="card">
			<div class="card-header">
				<span class="h4" th:text="${scrutin.nature}"></span>
			</div>
			<div class="card-body">
				<div>
					<span th:text="${scrutin.nbQuestions}"></span> questions
				</div>
				<div>
					Ouverture <span
						th:text="${#temporals.format(scrutin.dateOuverture, 'dd-MM-yyyy HH:mm')}"></span>,
					Fermeture <span
						th:text="{#temporals.format(scrutin.dateFermeture, 'dd-MM-yyyy HH:mm')}"></span>
				</div>
			</div>
		</div>
		<h1 class="mt-5">Résultats</h1>
		...

	</div>
</body>
</html>