<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
</head>
<body>
	<div layout:fragment="page_content">
		<h1>Mes scrutins</h1>

		<span th:if="${#lists.isEmpty(items)}">Aucun scrutin en cours</span>

		<div th:each="scrutin: ${items}" class="card" style="max-width: 700px">
			<div class="card-header">
				<span class="h4" th:text="${scrutin.nature}"></span>
			</div>
			<div class="card-body">
				<div>
					Ouvert du <span
						th:text="${#dates.format(scrutin.dateOuverture, 'dd/MM/yyyy')}"></span>
					au <span
						th:text="${#dates.format(scrutin.dateFermeture, 'dd/MM/yyyy')}"></span>
				</div>
				<div>
					<span th:text="${scrutin.nbQuestions}"></span> questions
				</div>
				<div th:if="${scrutin.dateVote}" class="alert alert-info">
					Voté le <span
						th:text="${#dates.format(scrutin.dateVote, 'dd-MM-yyyy')}"></span>
				</div>

			</div>
			<div class="card-footer" th:if="!${scrutin.dateVote}">
				<div class="d-flex">
					<div>
						<form method="get" th:action="@{/vote/voteStep}">
							<input type="hidden" name="scrid" th:value="${scrutin.id}">
							<button type="submit" class="btn btn-primary">Accéder au
								vote</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>